<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>	<!-- 처음시작 메인페이지 -->
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>	<!-- 수민 -->
		<servlet-name>appServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
		<url-pattern>*.me</url-pattern>
		<url-pattern>*.cw</url-pattern>
		<url-pattern>*.im</url-pattern>
		<url-pattern>*.pt</url-pattern>
		<url-pattern>*.at</url-pattern>
		<url-pattern>*.su</url-pattern>
		<url-pattern>*.so</url-pattern>
		<url-pattern>*.ch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>	<!-- 진근 -->
		<servlet-name>appServlet</servlet-name>
		<url-pattern>*.my</url-pattern>
		<url-pattern>*.ct</url-pattern>
	</servlet-mapping>
	<servlet-mapping>	<!-- 용민 -->
		<servlet-name>appServlet</servlet-name>
		<url-pattern>*.pr</url-pattern>
	</servlet-mapping>
	<servlet-mapping>	<!-- 성현 -->
		<servlet-name>appServlet</servlet-name>
		<url-pattern>*.ms</url-pattern> 
	</servlet-mapping>
	<servlet-mapping>	<!-- 나겸 -->
		<servlet-name>appServlet</servlet-name>
		<url-pattern>*.co</url-pattern>
	</servlet-mapping>
	<servlet-mapping>	<!-- 나겸 -->
		<servlet-name>appServlet</servlet-name>
		<url-pattern>*.ma</url-pattern>
	</servlet-mapping>
	<servlet-mapping>	<!-- 성운 -->
		<servlet-name>appServlet</servlet-name>
		<url-pattern>*.se</url-pattern>
	</servlet-mapping>
	<servlet-mapping>	<!-- 성현 -->
		<servlet-name>appServlet</servlet-name>
		<url-pattern>*.tz</url-pattern>
	</servlet-mapping>
	
	<!-- Korean Filter -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
	    </init-param>
	    
	    <init-param>
	    	<param-name>forceEncoding</param-name>
	    	<param-value>true</param-value>
	    </init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>	
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 메인 시작 -->
	<welcome-file-list>
		<welcome-file>main.ma</welcome-file>
	</welcome-file-list>
	

</web-app>
