@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css");

.member_bye {
	padding: 0 10px;
    display:none;
    height:520px;
    max-width:900px;
    min-height:750px;
    box-shadow:3px 3px 5px 0 rgb(172, 171, 171);
    border-radius:10px;
    min-height:450px;
    margin:0 auto;
}
.member_bye > h2 {
    color:rgb(73, 69, 69);
    margin-bottom:15px;
}
.pass_confirm > table {
    font-size: 15px;
    color:rgb(71, 70, 70);
    text-align:left;
    width:100%;
    border-top:solid 3px rgb(206, 207, 205);
    border-bottom:solid 3px rgb(206, 207, 205);
    border-collapse:collapse;
    margin-bottom:50px;
    margin-top:50px;
}
.pass_line > th {
    padding-left:30px;
    padding-top:20px;
    padding-bottom:20px;
}
.password1, .password2 {
    width:180px;
    height:20px;
    border-radius: 5px;
}
.content > p {
    font-size:12px;
    padding-left:30px;
}
.content_confirm > h5 {
    display:inline;
    padding-left:10px;
}
.content_confirm > input {
    margin-top:30px;
    margin-left:30px;
}
.member_button {
    margin-right:30px;
    float:right;
    background-color: #EA7475;
    color:white;
    font-size: 15px;
    border:0;
    outline:0;
    border-radius:10px;
    width:90px;
    height:40px;
    box-shadow:3px 3px 5px 0 rgb(172, 171, 171);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.member_button:active {
	-webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);    
}

@media(max-width:480px) {
.member_bye {
    padding:10px;
}
}