<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.ActiveMapper">

	<resultMap type="com.spring.myboard.ActiveVO" id="ActiveResultMap">
		<result property="last_connection" column="last_connection" />
		<result property="regist" column="regist" />
		<result property="board_count" column="board_count" />
		<result property="review_count" column="review_count" />
		<result property="comment_count" column="comment_count" />
		<result property="scrap_count" column="scrap_count" />
	</resultMap>
	
	<resultMap type="com.spring.myboard.BoardVO" id="BoardResultMap">
		<result property="board_num" column="board_num" />
		<result property="email" column="email" />
		<result property="nickname" column="nickname" />
		<result property="board_name" column="board_name" />
		<result property="content" column="content" />
		<result property="regist" column="regist" />
		<result property="img" column="img" />
		<result property="count" column="count" />
		<result property="category" column="category" />
		<result property="scrap_count" column="scrap_count" />
	</resultMap>
	
	<resultMap type="com.spring.community.CommentVO" id="CommentResultMap">
		<result property="comment_num" column="comment_num" />
		<result property="board_num" column="board_num" />
		<result property="nickname" column="nickname" />
		<result property="content" column="content" />
		<result property="regist" column="regist" />
		<result property="email" column="email" />
	</resultMap>
	
	<resultMap type="com.spring.myboard.MyReviewVO" id="MyReviewResultMap">
		<result property="review_num" column="review_num" />
		<result property="product_num" column="product_num" />
		<result property="nickname" column="nickname" />
		<result property="content" column="content" />
		<result property="img" column="img" />
		<result property="regist" column="regist" />
		<result property="gpa" column="gpa" />
		<result property="email" column="email" />
	</resultMap>
	

   <!-- 마지막 접속일 -->
   <select id="getLastconnection" parameterType="String" resultMap="ActiveResultMap">
		SELECT LAST_CONNECTION FROM MEMBER WHERE NICKNAME=#{nickname}   
   </select>
   
   <!-- 후기 -->
   <select id="getReviewCount" parameterType="String" resultType="int">
   		SELECT COUNT(*) FROM REVIEW WHERE NICKNAME=#{nickname}
   </select>
   
   <!-- 댓글 -->
   <select id="getRCommentCount" parameterType="String" resultType="int">
   		SELECT SUM(CNT) FROM(SELECT COUNT(*) CNT FROM BOARD_COMMENT WHERE NICKNAME=#{nickname} 
   		UNION ALL SELECT COUNT(*) CNT FROM BOARD_ANSWER WHERE NICKNAME=#{nickname}
   		UNION ALL SELECT COUNT(*) CNT FROM REVIEW_COMMENT WHERE NICKNAME=#{nickname}) 
   </select>
   
   <!-- 스크랩 -->
   <select id="getScrapCount" parameterType="String" resultType="int">
   		SELECT NVL(SUM(SCRAP_COUNT), 0) FROM (SELECT SCRAP_COUNT FROM BOARD WHERE NICKNAME=#{nickname})
   </select>
   
   <!-- 게시글 -->
   <select id="getBoardCount" parameterType="String" resultType="int">
   		SELECT COUNT(*) FROM BOARD WHERE NICKNAME=#{nickname}
   </select>
   
   
   <!-- 최근 글 등록일 -->
   <select id="getWriteDate" parameterType="String" resultMap="ActiveResultMap">
   		SELECT MAX(REGIST) REGIST FROM BOARD GROUP BY #{nickname}
   </select>
   
   
  	<!-- 게시판 글목록 불러오기 -->
  	<select id="getBoard1" parameterType="com.spring.myboard.BoardVO" resultMap="BoardResultMap">
  		SELECT * FROM (SELECT * FROM BOARD WHERE CATEGORY=#{category}) 
  		WHERE EMAIL=#{email} 
  	</select>
  	
  	<!-- 나의 활동 댓글 목록 불러오기 -->
  	<select id="getComment" parameterType="com.spring.community.CommentVO" resultMap="CommentResultMap">
  		select regist, content from board_comment where email=#{email} 
  		union select regist, content from board_answer where email=#{email}
  	</select>
  	
  	<!-- 나의 활동 후기 목록 불러오기 -->
  	<select id="getReview" parameterType="com.spring.myboard.MyReviewVO" resultMap="MyReviewResultMap">
  		select * from review where email=#{email}
  	</select>

   
</mapper>