<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.PDMapper">

   <resultMap type="com.spring.product.ProductVO" id="prMap">
   <result property="product_num" column="product_num"  />
   <result property="product_name" column="product_name"  />
   <result property="total_amount" column="total_amount"  />
   <result property="rental_amount" column="rental_amount"  />
   <result property="share_amount" column="share_amount"  />
   <result property="manufacturer" column="manufacturer"  />
   <result property="product_content" column="product_content"  />
   
   <result property="gpa" column="gpa"  />
   <result property="category_l" column="category_l"  />
   <result property="category_m" column="category_m"  />
   <result property="category_s" column="category_s"  />
   <result property="img_sum" column="img_sum"  />
   <result property="img_main" column="img_main"  />
   <result property="img_detail" column="img_detail"  />
   <result property="regist" column="regist"  />
   </resultMap>
   
	<insert id="prAdd" parameterType="com.spring.product.ProductVO">
  <selectKey keyProperty="product_num" resultType="int" order="BEFORE">
    SELECT product_sequence.NEXTVAL FROM DUAL
  </selectKey>
  	insert into product(product_num, product_name, total_amount, rental_amount, share_amount, manufacturer,
  	product_content, category_l, category_m, category_s,img_sum, img_main, img_detail, regist) values(
  	#{product_num}, #{product_name}, #{total_amount}, #{rental_amount},#{share_amount},
    #{manufacturer}, #{product_content}, #{category_l}, #{category_m}, #{category_s}, 
    #{img_sum}, #{img_main},#{img_detail}, sysdate)
	</insert>
	
	<!-- 상품 리스트 전체 출력(쓰진않음) -->	
	<select id="allSearch" resultType="com.spring.product.ProductVO">	 
	select rownum rnum, product_num, product_name, total_amount, rental_amount, share_amount, manufacturer, product_content,
	gpa, category_l, category_m, category_s, img_sum, img_main, img_detail, regist from product	
	order by rnum asc	
	</select>	
	
	<!-- 처음 들어왔을때 보여주는 상품리스트. 8개 bno을 rnum으로 쓰자. where bno>0 AND bno<9-->	
	<select id="startSearch" resultType="com.spring.product.ProductVO">	 
	select * from (
    select rownum rnum, product_num, product_name, total_amount, rental_amount, share_amount, manufacturer, product_content,
	gpa, category_l, category_m, category_s, img_sum, img_main, img_detail, regist from product	
    order by product_num asc 
	)
	<![CDATA[where rnum>=1 AND rnum<=8]]>	
	</select>
	 
	 
	<!--  초기에 8개가 화면에 뿌려진 이후, 스크롤을 내렸을 때 추가로 8개의 상품을 더 보여준다 -->
	<select id="scrollSearch" parameterType="map" resultType="com.spring.product.ProductVO">
	select * from (
		select * FROM (
		SELECT rownum rnum, product_num, product_name, total_amount, rental_amount, share_amount, manufacturer, product_content,
		gpa, category_l, category_m, category_s, img_sum, img_main, img_detail, regist FROM product ORDER BY product_num ASC
		)
	)
	<![CDATA[WHERE rnum>#{pno}-8 and rnum<=#{pno}]]>
	</select>
	
	<select id="filterSearch" parameterType="map" resultType="com.spring.product.ProductVO">
	select rownum rnum, product_num, product_name, total_amount, rental_amount, share_amount, manufacturer, product_content,
		gpa, category_l, category_m, category_s, img_sum, img_main, img_detail, regist from product
	where category_l=#{category_l} AND category_m=#{category_m} AND category_s=#{category_s}
	order by product_num asc;
	</select>

  
</mapper>