<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.WritingMapper">
	<resultMap id="testMap" type="com.spring.writing.WritingVO">
		<result property="img" column="img" />
	</resultMap>

<!-- 게시판 insert -->
<insert id="insertBoard" parameterType="com.spring.writing.WritingVO">
	<selectKey keyProperty="board_num" order="BEFORE" resultType="int">
		SELECT board_sequence.NEXTVAL FROM DUAL
	</selectKey>
	INSERT INTO BOARD (board_num, nickname, board_name, content, regist, img, count, category, scrap_count)
				VALUES (#{board_num}, #{nickname}, #{board_name}, #{content}, #{regist}, #{img}, #{count}, #{category}, #{scrap_count})
</insert>

<insert id="insertTest" parameterType="com.spring.writing.WritingVO">
	insert into test_board values (#{img})
</insert>

<select id="returnTest" parameterType="com.spring.writing.WritingVO" resultType="String">
	select * from test_board where img=#{img}
</select>
				
</mapper>

