@charset "UTF-8";
@font-face { font-family: 'S-CoreDream-4Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); font-weight: normal; font-style: normal; }

*{font-family: S-CoreDream-4Regular;}
.intro-section > span > em{font-style: normal; font-weight: 800;}
.h1_style{font-size: 40px; margin-top: 150px; color: #666666;}
.h2_style{font-size: 50px; margin-top: 20px; color: white;}
#h2_style_1{position: absolute; top: 400px; left: 150px;}
#h2_style_2{position: absolute; top: 500px; left: 150px;}
h3 {font-size: 18px; margin-top: 30px;}
hr {margin: 50px;}
.img2{margin: 0 auto;}
.img_mobile{display: none;}
.subcontainer{width: 100%; margin: 0 auto 50px auto;}
.intro-section{width: 100%; margin: 0 auto; text-align: center; }
.intro-section > .intro_first >span{margin: 30px auto 0 auto; display:block; line-height: 35px; font-size: 20px; width: 800px; color: #666666;}
.intro-section > .intro_first > img{width: 1200px; height: 150px;}
.intro-section1 > div > img{width: 640px; height: 150px;}
.intro_first{margin-top: 200px; margin-bottom: 300px;}
.mt_box{display: flex; width: 640px; margin: 0 auto; padding: 100px 0;}
.mt_box > .mt_box_module{width: 850px; display: flex;}
.mt_box > .mt_box_module > .box_step1{background: #f9f0f0;}
.mt_box > .mt_box_module > .box_step2{background: #fadcdc;}
.mt_box > .mt_box_module > .box_step3{background: #f7b8b8;}
.mt_box > .mt_box_module > .box_step4{background: #f89e9e;}
.mt_box > .mt_box_module > div{width: 130px; height: 130px; border-radius: 50%; margin: 10px auto 10px auto;}
.mt_box > .mt_box_module > div > h4{margin-top: 30%;}
.intro_second{width: 100%; background-color: #eaebec; padding-top: 50px; padding-bottom: 150px;}
.span_style > span{margin: 0 auto; display:block; line-height: 28px; font-size: 14px; width: 600px; }
.span_style{margin: 30px auto 0 auto; display:block; line-height: 35px; font-size: 20px; width: 800px; color: #666666;}
.intro-section1 > div {text-align: center;}
.intro-section1 {margin-top: 200px; margin-bottom: 200px;}
.mt_6{background-color: #eaebec; height: 400px; display: flex; text-align: center;}
.mt_6 > .mt_6_1{align-self: center; margin: auto;}

.sub_btn{background:#ff7276; color:#fff; border:0.5px; width:150px; height:50px; font-size:18px; font-weight: normal; border-radius: 5px; -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;}
.sub_btn:hover{background: #f8f9fa; border:0.5px solid; color: #ea7475; border-color: #ea7475; -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;}

/* 모바일 */
@media (max-width: 480px){
body {text-align: center; font-size: 14px;}

.h2_style{font-size: 36px; margin-top: 20px;}
#h2_style_1{position: absolute; top: 750px; left: 25px; font-size: 30px; color: #666666;}
#h2_style_2{position: absolute; top: 813px; left: 25px; font-size: 30px; color: #666666;}

.subcontainer{width: 100%; margin: 0 auto 100px auto;}
.img_desktop{display: none;}
.img_mobile{display: block;}

.intro-section{width: 100%; padding: 0; margin: 0;}
.intro_first{width: 100%;}
.h1_style{width: 100%; word-break: keep-all;}
.mt_1, .span_style{width: 90% !important; padding: 5px; word-break: keep-all;}

.intro_second{width: 100%;}

.intro-section1 {margin: 0; width: 100%;}
.span_style > span{width: 100%;}
.intro-section1 > div  > .img2{width: 95%;}
.intro-section1 > div  > img{width: 95%;}

.mt_box{display: flex; width: 100%;}
.mt_box > .mt_box_module{display: flex; width: 100%;}
.mt_box > .mt_box_module > div{width: 110px; height: 110px; border-radius: 50%; margin: 10px auto 10px auto;}

.mt_6{width: 100%;}
.mt_6_1{width: 100%;}


}

