@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css");

/*********************************************************************************/
/* Header//chat                                                                  */
/*********************************************************************************/
body{ margin: 0px; padding: 0px;  font-size: 14pt; font-weight: 400; color: #000000; width: 100%; font-family: 'NanumBarunGothic', sans-serif;}
#chat { position: fixed; right: 1%; bottom: 1%; z-index: 9999; }
#chat img { height: 70px;  width: 70px; cursor:pointer;}
.fas{margin: 10px;}
#chatframe {display:none; z-index:7777; position:fixed; width:385px; height:600px; right:3%; bottom:3%; border:1px solid #ffc9c9; border-radius:20px;}


/*********************************************************************************/
/* main video                                                                    */
/*********************************************************************************/

.video-container
{
	position:relative;
	padding-bottom:50%;
	height: 0;
	overflow:hidden;
	margin : 0 auto;
	background-color: white;
} 

/* .video-main > #myVideo
{
	width: 100%;
} */

.video-main > img
{
	display: block;
	width: 100%;
}

.video-container > button.banner_btn1
{
	position: absolute;
	left:10%;
	margin:0;
	top:20%;
}

.video-container > button.banner_btn2
{
	position: absolute;
	left:18%;
	margin:0;
	top:20%;
}

.video-container > .video-main
{
	display:block; 
}

/*
main video button
*/

.join_btn
{
	background:#ffffff; 
	border-radius: 2px; 
	color:#ff7276; 
	border:0; 
	width:110px; 
	height:40px; 
	line-height: 40px; 
	font-size:16px; 
	font-weight: 800; 
	text-align:center; 
	z-index: 1;
	border-radius: 5px;
}

.sub_btn
{
	background:#ff7276; 
	border-radius: 2px; 
	color:#fff; 
	border:0; 
	width:110px; 
	height:40px; 
	line-height: 40px; 
	font-size:16px; 
	font-weight: 800; 
	text-align:center; 
	z-index: 1;
	border-radius: 5px;
}

/*
main scroll icon
*/
.icon-scroll, .icon-scroll:before
{
  position: absolute;
  left: 50%;
}

.icon-scroll
{
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 80%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.icon-scroll:before 
{
	content: '';
	width: 8px;
	height: 8px;
	background: #fff;
	margin-left: -4px;
	top: 8px;
	border-radius: 4px;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-name: scroll;
}

@keyframes scroll{
  0%{
	opacity: 1;
  }
  100%{
    opacity: 0;
 	transform: translateY(46px);
  }
}

/*********************************************************************************/
/* Wrapper1                                                                      */
/*********************************************************************************/

#wrapper{background: #ffffff;}
  
#wrapper1
{
	margin: auto;
	padding: 30px 0;
	text-align: center;
	width: 1280px;
}
#wrapper1 > .wrapper1_1, .wrapper1_2
{
	padding: 100px 0;
}

#wrapper1 > .wrapper1_1 > .wrapper1_module
{
	display: flex;
	justify-content: center;
	margin: 25px 0;
}

#wrapper1 > .wrapper1_2 > .wrapper1_module
{
	display: flex;
	justify-content: center;
	margin: 25px 0;
}

#wrapper1 > .wrapper1_1 >  .wrapper1_module > div
{
	width:250px;
}

#wrapper1 > .wrapper1_2 >  .wrapper1_module > div
{
	width:250px;
}

#wrapper1 > .wrapper1_1 > .main_h1 
{
	font-size: 55px;
	font-weight: 100;
	padding: 50px;
}

#wrapper1 > .wrapper1_1 > .wrapper1_module > div > .main_h3
{
	font-size: 30px;
	font-weight: 300;
	padding: 20px 0 0 0;
}

#wrapper1 > .wrapper1_1 > .wrapper1_module > div > .main_h5
{
	font-size: 18px;
    font-weight: 300;
}

.about_btn{
	background:#ff7276;
	color:#fff;
	border:none;
	position:relative;
	width:150px; 
	height:50px; 
	font-size:18px; 
	font-weight: normal; 
	cursor:pointer;
	border-radius: 5px;
	transition:800ms ease all;
	outline:none;
  }
  .about_btn:hover{
	background:#fff;
	color:#ff7276;
  }
  .about_btn:before,.about_btn:after{
	content:'';
	position:absolute;
	top:0;
	right:0;
	height:2px;
	width:0;
	background: #ff7276;
	transition:400ms ease all;
  }
  .about_btn:after{
	right:inherit;
	top:inherit;
	left:0;
	bottom:0;
  }
  .about_btn:hover:before,.about_btn:hover:after{
	width:100%;
	transition:800ms ease all;
  }
  
  
  
/*********************************************************************************/
/* Wrapper2                                                                       */
/*********************************************************************************/

#wrapper2
{
	background: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	right: 50%;
	margin: auto;
	width: 1280px;
}

#wrapper2 > .wrapper2_module
{
	display: flex;
	justify-content: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

#wrapper2 > .wrapper2_module > .wrapper2_sub
{
	width: 70%;
	padding-top: 30px;
}

#wrapper2 > .wrapper2_module > .wrapper2_sub > .wrapper2_sub_module
{
	display: flex;
	justify-content: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

#wrapper2 > .wrapper2_module > .wrapper2_sub > .wrapper2_sub_module > div
{
	width:200px;
	margin: 40px;
	padding: 20px;
	background-color: rgb(189, 189, 189);
	border-radius: 5px;
}

#wrapper2 > .wrapper2_module > .wrapper2_nsub
{
	width: 30%;
	border-left: #828282 solid 1px;
	padding-top: 30px;
}

#wrapper2 > .wrapper2_module > .wrapper2_nsub > .wrapper2_sub_module
{
	display: flex;
	justify-content: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

#wrapper2 > .wrapper2_module > .wrapper2_nsub > .wrapper2_sub_module > div
{
	width:200px;
	margin: 40px;
	padding: 20px;
	background-color: rgb(189, 189, 189);
	border-radius: 5px;
}


/*********************************************************************************/
/* Wrapper3                                                                      */
/*********************************************************************************/

#wrapper3
{
	background: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	right: 50%;
	margin: auto;
	width: 1280px;
}

#wrapper3 > .wrapper3_module
{
	display: flex;
	justify-content: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

#wrapper3 > .wrapper3_module > .wrapper3_1
{
	width:350px;
	padding-top: 30px;
	padding-bottom: 30px;
	border: #b1b1b1 solid 1px;
	border-radius: 5px;
	float: center;
}

.join_btn1
{
	background:#ff7276; 
	color:#fff; 
	border:0; 
	width:200px; 
	height:50px; 
	line-height: 40px; 
	font-size:20px; 
	font-weight: 800; 
	text-align:center; 
	z-index: 1;
	border-radius: 5px;
	margin-bottom: 5px;
}

.sub_btn1
{
	background:#ff7276; 
	color:#fff; 
	border:0; 
	width:200px; 
	height:50px; 
	line-height: 40px; 
	font-size:20px; 
	font-weight: 800; 
	text-align:center; 
	z-index: 1;
	border-radius: 5px;
}

#wrapper3 > .wrapper3_module > .wrapper3_2
{
	width: 850px;
	display: flex;
	justify-content: center;
}

#wrapper3 > .wrapper3_module > .wrapper3_2 > .wrapper3_module1
{
	display: contents;
}

#wrapper3 > .wrapper3_module > .wrapper3_2 > .wrapper3_module1 > .wrapper3_step1
{
	background: rgb(231, 216, 216);

}

#wrapper3 > .wrapper3_module > .wrapper3_2 > .wrapper3_module1 > .wrapper3_step2
{
	background: rgb(216, 178, 178);
	align-self: center;
}

#wrapper3 > .wrapper3_module > .wrapper3_2 > .wrapper3_module1 > .wrapper3_step3
{
	background: rgb(175, 107, 107);
	align-self: flex-end;
}

#wrapper3 > .wrapper3_module > .wrapper3_2 > .wrapper3_module1 > div
{
	width: 180px;
	height: 250px;
	border-radius: 5px;
	padding-top: 30px;
	margin: 10px;
	display: table-cell;
}

#wrapper3 > .wrapper3_module > .wrapper3_2 > .wrapper3_module1 > div > span
{
	text-align: center;
}


#wrapper3 > .wrapper3_module > .wrapper3_btn2
{
	display: none;
}

/*********************************************************************************/
/* Wrapper4                                                                      */
/*********************************************************************************/

#wrapper4
{
	background: rgb(247, 242, 240);
	text-align: center;
	margin-top: 30px;
/* 	margin-bottom: 30px; */
}

#wrapper4 > .wrapper4_module
{
	display: flex;
	justify-content: center;
	width: 1280px;
	right: 50%;
	margin: auto;
}

#wrapper4 > .wrapper4_module > .wrapper4_1
{
	width: 600px;
	height: 605px;
	display: table;
	justify-content: left;
	float: left;
	margin-right: 10%;
}

#wrapper4 > .wrapper4_module > .wrapper4_1 > div
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#wrapper4 > .wrapper4_module > .wrapper4_2
{
	float: center;
	text-align: center;
	
}

#wrapper4 > .wrapper4_module > .wrapper4_2 > img
{
	width: 600px;
	height: 600px;
}


/*********************************************************************************/
/* main mobile                                                                   			              */
/*********************************************************************************/
@media (max-width: 480px){
body{ margin: 0px; padding: 0px;  font-size: 13pt; color: #000000; width: 100%;}
h1{margin: 30px 0;}
hr {display: none;}

.video-container {padding-bottom: 40px; padding-top: 0; height: 600px; } 
.video-main > #myVideo {display: none;}
.video-main > img {width: 100%; height: 700px; display: block;} 
.video-container > button.banner_btn1 {top:80%; left: 40%;}
.video-container > button.banner_btn2 {left:40%; top:90%;}
.icon-scroll {display: none;}
.join_btn1 {width:150px;}
.sub_btn1 {width:150px;}

#wrapper1 {width: 100%; padding: 0; margin-top: 100px;}
#wrapper1 > .wrapper1_1 > .wrapper1_module {width: 100%;}
#wrapper1 > .wrapper1_1 > .wrapper1_module > div{ width:30%;}
#wrapper1 > .wrapper1_1 > .wrapper1_module > div > span{font-size: 12px; }
#wrapper1 > .wrapper1_2 > h1{margin: 0 30px; }

#wrapper2 {width: 100%;}
#wrapper2 > .wrapper2_module{display: flex; flex-direction: column; justify-content:center; margin-top: 0; margin-bottom: 0;}
#wrapper2 > .wrapper2_module > .wrapper2_sub{width: 100%; padding-top: 30;}
#wrapper2 > .wrapper2_module > .wrapper2_sub > .wrapper2_sub_module > div {width: 80%; padding: 0;}
#wrapper2 > .wrapper2_module > .wrapper2_sub > .wrapper2_sub_module > .wow > p{display: none;}
#wrapper2 > .wrapper2_module > .wrapper2_nsub{width: 100%; border-left: 0; border-top: #828282 solid 1px;}
#wrapper2 > .wrapper2_module > .wrapper2_nsub > .wrapper2_sub_module{justify-content:center; margin-top: 0; margin-bottom: 0;}
#wrapper2 > .wrapper2_module > .wrapper2_sub > .wrapper2_sub_module > div{width:80%; margin: 0; padding: 0; background-color: #fff; border-radius: 0; padding-top: 0;}
#wrapper2 > .wrapper2_module > .wrapper2_nsub > .wrapper2_sub_module > div{width:80%; margin: 0; padding: 0; background-color: #fff; border-radius: 0; padding-top: 0;}
#wrapper2 > .wrapper2_module > .wrapper2_nsub > .wrapper2_sub_module > .wow > p{display: none;}

#wrapper3 {border: #fff; width: 100%;}
#wrapper3 > .wrapper3_module{display: flex; flex-direction: column; justify-content:center; margin-top: 25px; margin-bottom: 0;}
#wrapper3 > .wrapper3_module > .wrapper3_1{width:100%; border-bottom: #fff; border-left: #fff; border-right: #fff; border-radius: 0; float: center;}
#wrapper3 > .wrapper3_module > .wrapper3_1 > div > br{display: none;}
#wrapper3 > .wrapper3_module > .wrapper3_1 > .wrapper3_btn1{display: none;}
#wrapper3 > .wrapper3_module > .wrapper3_2 {width:100%; margin-top: 10px; margin-bottom: 20px; height: 300px;}
#wrapper3 > .wrapper3_module > .wrapper3_2 > .wrapper3_module1{display: ""; justify-content: center; flex-direction: row; align-content: center;}
#wrapper3 > .wrapper3_module > .wrapper3_2 > .wrapper3_module1 > .wrapper3_container{display: flex; justify-content: center; }
#wrapper3 > .wrapper3_module > .wrapper3_2 > .wrapper3_module1 > .wrapper3_container > div{width: 150px; height: 100px; padding: 0; margin: 5px;}
#wrapper3 > .wrapper3_module > .wrapper3_2 > .wrapper3_module1 > .wrapper3_container > .wrapper3_step1{background: rgb(231, 216, 216); align-items: flex-start; }
#wrapper3 > .wrapper3_module > .wrapper3_2 > .wrapper3_module1 > .wrapper3_container > .wrapper3_step2{background: rgb(216, 178, 178); align-items: flex-start; margin: 5px;}
#wrapper3 > .wrapper3_module > .wrapper3_2 > .wrapper3_module1 > .wrapper3_container > .wrapper3_step3{background: rgb(175, 107, 107); vertical-align: flex-start;}
#wrapper3 > .wrapper3_module > .wrapper3_btn2{display: block;}
#wrapper3 > .wrapper3_module > .wrapper3_2 > .wrapper3_module1 > div > span{vertical-align: middle;  }

#wrapper4 > .wrapper4_module{display: ""; justify-content: center; width: 100%; flex-direction: column; right: 0;}
#wrapper4 > .wrapper4_module > .wrapper4_1{width: 100%; height: 300px; display: table; justify-content: center; float: center; margin-right: 0; margin-top: 40px;}
#wrapper4 > .wrapper4_module > .wrapper4_1 > div{display: ""; vertical-align: middle; text-align: center;}
#wrapper4 > .wrapper4_module > .wrapper4_2 > img{text-align: center; width: 100%;}

}

