@charset "UTF-8";

@charset "utf-8";
* {
    margin:0;
}
html, body {
    height:100%;
    box-sizing: border-box;
}
html {
    display:flex;
    min-height: 100vh;
    flex-direction: column;
}
#mypage_wrapper {
    flex: 1;
}
.sample { 
    width:400px;
    flex-grow:5;
}
#profile_wrap {
    box-shadow:0px 3px 5px 0 rgb(172, 171, 171);
    border-radius:10px;
}

/* profile css 시작==============================================================================*/
.sub_list3 > li > img{
    width:35px;
    height:35px;
    cursor:pointer;
}
#mypage {
	margin-top:60px;
    display:flex;
}
#profile > img {
    width:150px;
    height:150px;
}
#profile_detail > h4, p {
    display:inline;
}
#profile_detail > h4 {
    color:#EA7475;
}
a {
    color:black;
    text-decoration:none;
}
.wrapper > h3 {
    border-top:gray solid 1px;
    border-bottom:gray solid 1px;
    padding:18px;
    text-align:center;
}
.wrapper > h3 > a {
    color:#EA7475;
}
.sub_list3 {
    list-style:none;
    padding:0;
}
.main_list {
    list-style:none;
    padding:0;
}
.main_list > li {
    text-align:center;
    padding:25px 0 0;
    list-style:none;
}
.main_list > li > ul {
    font-size:13px;
}
.sub_list1, .sub_list2 {
    list-style: none;
    display:none;
}
.sub_list1 > li{
    text-align:left;
    padding:20px 0 0 20px;
}
.sub_list2 > li{
    text-align:left;
    padding:20px 0 0 20px;
}
#profile {
    padding-left:30px;
    padding-right:30px;
    margin-right:auto;
    margin-left:auto;
    padding-top:40px;
    text-align:center;
}
#profile_detail {
    height:130px;
    font-size:14px;
}
#profile_detail > h4 {
    margin-top:10px;
    margin-bottom:10px;
}
#profile_detail > ul > li {
    padding:7px;
    float: left;
}
#left_nav {
    flex-grow:0;
}
#right_article {
    width:100%;
    padding-top:50px;
    flex-grow:1;
}
#name {
    text-align:center;
}
#article_main {
    max-width:1100px;
    padding-right:50px;
    margin-left:auto;
    margin-right:auto;
}
#detail_wrap {
    margin-right:auto;
    padding-left:30px;
    padding-right:30px;
}
.wrapper {
    margin-left:auto;
    margin-right:auto;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:30px;
}
.oh:before,
.oh:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 0;
  position: absolute;
  width: 0;
}
.oh:before {
    border-color: rgb(248, 187, 187);
    border-top-width: 2px;
    left: 0px;
    top: -5px;
  }
  
  .oh:after {
    border-bottom-width: 2px;
    border-color: rgb(248, 187, 187);
    bottom: -5px;
    right: 0px;
  }
  .oh:hover:before,
.oh.hover:before,
.oh:hover:after,
.oh.hover:after {
  height: 100%;
  width: 100%;
}
.oh {
    border:none;
    line-height: 1em;
    outline: none;
    position: relative;
    text-transform: uppercase;
}

/* profile css 끝============================================================================== */


/* profile mobile 시작==============================================================================*/
@media (max-width: 600px) {

.wrapper {
    padding-left:0;
    padding-left:0;
    padding-right:0;
}
#article_main {
    padding-right:0;
}
#name > h2 {
    margin:5px;
}
#profile_detail > h4 {
    margin:4px;
}
#mypage {
    display:block;
}
#profile_wrap {
    display:flex;
    flex-wrap:wrap;
}
#left_nav {
    padding-left:0;
}
#detail_wrap {
    padding-top:50px;
    display:flex;
    flex-direction:column;
    padding-left:0;
    padding-right:0;
}
#name {
    width:100%;
    text-align:left;
}
#profile_detail {
    height:100px;
}
#profile_detail > ul > li{
    padding-top:0;
    padding-bottom:0;
}
#list_nav_wrap {
    width:100%;
}
#list_nav_wrap > h3 {
    margin-top:0;
    margin-bottom:0;
}
.main_list {
    display: table;
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    margin-bottom:0;
}
.main_list > li{
    float:left;
    padding-left:17.5px;
    padding-right:17.5px;
    padding-top:15px;
}
.sub_list1, .sub_list2 {
    list-style:none; 
    padding-left:0;
    position:absolute; 
}
.sub_list1 > li {
    padding-top:5px;
    background-color:white;
    padding-left:0;
    text-align:left;
    opacity:0.6;
}
.sub_list2 > li {
    padding-top:5px;
    background-color:white;
    padding-left:0;
    text-align:left;
    opacity:0.6;
}

  }
/* profile mobile 끝============================================================================== */


/* myPage subscribe 시작==============================================================================*/

.subscribe_wrap {
    display:none;
    max-width:900px;
    box-shadow:3px 3px 5px 0 rgb(172, 171, 171);
    padding:30px;
    border-radius:10px;
}
.subscribe_wrap > h2 {
    color:rgb(73, 69, 69);
    margin-bottom:5px;
}
.product_history {
    margin-bottom:50px;
}
.product_history > h3 {
    color:rgb(73, 69, 69);
    margin-bottom:10px;
}
.product_history > table {
    font-size: 15px;
    color:rgb(71, 70, 70);
    text-align:left;
    width:100%;
    border-top:solid 3px rgb(206, 207, 205);
    border-bottom:solid 3px rgb(206, 207, 205);
    border-collapse: collapse;
}
.pay_block {
    margin-bottom:50px;
}
.pay_block > h3 {
    color:rgb(73, 69, 69);
    margin-bottom:10px;
}
.pay_block > table {
    font-size: 15px;
    color:rgb(71, 70, 70);
    text-align:left;
    width:100%;
    border-top:solid 3px rgb(206, 207, 205);
    border-bottom:solid 3px rgb(206, 207, 205);
    border-collapse: collapse;
}
.line > td, .line > th {
    border-bottom:solid 1px rgb(206, 207, 205);
    padding:10px;
}
.subscribe_block {
    margin-bottom:50px;
    height:35px;
    border-radius:7px;
    display:flex;
    justify-content: space-between;
    background-color: #e4e4e4;
}
.subscribe_content_1 {
    line-height: 35px;
    padding-left:20px;
}
.subscribe_content_2 {
    line-height: 35px;
    padding-right:20px;
}
.subscribe_content_1 > b {
    font-size:13px;
    color:#EA7475;
    padding:3px;
    border:solid 2.2px rgb(112, 111, 111);
    border-radius:7px;
}
.subscribe_content_2 > a {
    color:#EA7475;
}

/* myPage subscribe 끝==============================================================================*/


/* myPage point 시작==============================================================================*/
.point_wrap {
    display:none;
    max-width:900px;
    box-shadow:3px 3px 5px 0 rgb(172, 171, 171);
    padding:30px;
    border-radius:10px;
}
.point_wrap > h2 {
    color:rgb(73, 69, 69);
    margin-bottom:5px;
}
.point_history {
    margin-bottom:50px;
}
.point_history > h3 {
    color:rgb(73, 69, 69);
    margin-bottom:10px;
}
.point_history > table {
    font-size: 15px;
    color:rgb(71, 70, 70);
    text-align:left;
    width:100%;
    border-top:solid 3px rgb(206, 207, 205);
    border-collapse:collapse;
}
.line2 > td, .line2 > th {
    border-bottom:solid 1px rgb(206, 207, 205);
    padding:10px;
}
.point_block {
    margin-bottom:50px;
    height:35px;
    border-radius:7px;
    display:flex;
    justify-content: space-between;
    background-color: #e4e4e4;
    box-shadow:3px 3px 5px 0 rgb(172, 171, 171);
}
.point_content_1 {
    line-height: 35px;
    padding-left:20px;
}
.point_content_2 {
    line-height: 35px;
    padding-right:20px;
}
.point_content_1 > b {
    font-size:13px;
    padding:3px;
}
.point_content_2 > h3 {
    color:#EA7475;
    display:inline;
}
.point_use > h3 {
    color:rgb(73, 69, 69);
    display:inline;
}
.point_use > p {
    font-size:11px;
}
#point_form > table {
    margin-top:10px;
    font-size: 15px;
    color:rgb(71, 70, 70);
    text-align:left;
    width:100%;
    border-top:solid 3px rgb(206, 207, 205);
    border-collapse:collapse;
}
.use_line > th {
    text-align:left;
    padding:10px;
}
.use_line > td {
    text-align:center;
}
.point_button {
    width:110px;
    height:35px;
    font-size:15px;
    margin-top:30px;
    background-color:#EA7475 ;
    border:0;
    outline:0;
    border-radius:8px;
    box-shadow:3px 3px 5px 0 rgb(172, 171, 171);
}
.point_text {
    border-radius:8px;
    width:110px;
    height:20px;
}
/* myPage point 끝==============================================================================*/


/* mypage list 시작 ==============================================================================*/
.profile_menu1, .profile_menu2, .profile_menu3 {
    cursor: pointer;
}
.list {
    display:none;
    max-width:1110px;
    box-shadow:3px 3px 5px 0 rgb(172, 171, 171);
    padding:30px;
    border-radius:10px;
}
.list_menu > table {
    margin-top:10px;
    margin-bottom:10px;
    font-size: 15px;
    color:rgb(71, 70, 70);
    text-align:center;
    width:100%;
    border-bottom:solid 3px rgb(206, 207, 205);
    border-collapse:collapse;
}
.menu_line > th {
    width:33.3%;
    padding-bottom:5px;
    padding-top:5px;
}
.menu_product {
    text-align: center;
}
.menu_product > table {
    width:100%;
    margin-top:70px;
    text-align: center;
}
.product_line > td {
    display:flex;
    flex-wrap:wrap;
}
.product {
    padding-bottom:40px;
    padding-left:30px;
}

@media(max-width:600px) {
    .product > img {
        width:180px;
    }
}
/* mypage list 끝 ==============================================================================*/


/* mypage share 시작 ==============================================================================*/
.share {
    display:none;
    max-width:900px;
    box-shadow:3px 3px 5px 0 rgb(172, 171, 171);
    padding:30px;
    border-radius:10px;
}
.share > h2 {
    color:rgb(73, 69, 69);
    margin-bottom:15px;
}
.account_title > h3 {
    color:rgb(73, 69, 69);
    margin-bottom:10px;
}
.application > h3 {
    margin-top: 40px;
    color:rgb(73, 69, 69);
    margin-bottom:10px;
}
.share_history > h3 {
    color:rgb(73, 69, 69);
    display:inline;
}
.share_history > input {
    background-color: #EA7475;
    color:white;
    font-size: 15px;
    border:0;
    outline:0;
    border-radius:5px;
    width:60px;
    height:30px;
    float:right;
    margin-right:40px;
    box-shadow:3px 3px 5px 0 rgb(172, 171, 171);
}
.application > table {
    font-size: 15px;
    color:rgb(71, 70, 70);
    text-align:left;
    width:100%;
    border-top:solid 3px rgb(206, 207, 205);
    border-bottom:solid 3px rgb(206, 207, 205);
    border-collapse:collapse;
    margin-bottom:50px;
}
.application_line > th, .application_line > td {
    border-bottom:solid 1px rgb(206, 207, 205);
    padding:10px;
}

.share_history > table {
    font-size: 15px;
    color:rgb(71, 70, 70);
    text-align:left;
    width:100%;
    border-top:solid 3px rgb(206, 207, 205);
    border-bottom:solid 3px rgb(206, 207, 205);
    border-collapse:collapse;
    margin-top:10px;
    margin-bottom:50px;

}
.share_line > th, .share_line > td {
    border-bottom:solid 1px rgb(206, 207, 205);
    padding:10px;
}
/* mypage share 끝 ==============================================================================*/


/* mypage 회원탈퇴 시작 ==============================================================================*/
.member_bye {
    display:none;
    max-width:900px;
    box-shadow:3px 3px 5px 0 rgb(172, 171, 171);
    padding:30px;
    border-radius:10px;
    min-height:450px;
}
.member_bye > h2 {
    color:rgb(73, 69, 69);
    margin-bottom:15px;
}
.pass_confirm > table {
    font-size: 15px;
    color:rgb(71, 70, 70);
    text-align:left;
    width:100%;
    border-top:solid 3px rgb(206, 207, 205);
    border-bottom:solid 3px rgb(206, 207, 205);
    border-collapse:collapse;
    margin-bottom:50px;
    margin-top:50px;
}
.pass_line > th {
    padding-left:30px;
    padding-top:20px;
    padding-bottom:20px;
}
.password1, .password2 {
    width:180px;
    height:20px;
    border-radius: 5px;
}
.content > p {
    font-size:12px;
    padding-left:30px;
}
.content_confirm > h5 {
    display:inline;
    padding-left:10px;
}
.content_confirm > input {
    margin-top:30px;
    margin-left:30px;
}
.member_button {
    margin-right:30px;
    float:right;
    background-color: #EA7475;
    color:white;
    font-size: 15px;
    border:0;
    outline:0;
    border-radius:10px;
    width:90px;
    height:40px;
    box-shadow:3px 3px 5px 0 rgb(172, 171, 171);
}
/* mypage 회원탈퇴 끝 ==============================================================================*/

/* mypage 회원수정 시작 ==============================================================================*/
.member_update {
    display:none;
    box-shadow:3px 3px 5px 0 rgb(172, 171, 171);
    padding:30px;
    border-radius:10px;
}
.member_img > h1 {
    margin-bottom:40px;
    color:rgb(73, 69, 69);
}
.member_img {
    text-align: center;
}
.update_table {
    margin-top:30px;
    width:500px;
    margin-left:auto;
    margin-right:auto;
}
.button1, .button2, .button4 {
    margin-right:30px;
    background-color: #EA7475;
    color:white;
    font-size: 15px;
    border:0;
    outline:0;
    border-radius:8px;
    width:85px;
    height:35px;
    box-shadow:3px 3px 5px 0 rgb(172, 171, 171);
}
.button3 {
    background-color: #EA7475;
    color:white;
    font-size: 15px;
    border:0;
    outline:0;
    border-radius:8px;
    width:150px;
    height:40px;
    box-shadow:3px 3px 5px 0 rgb(172, 171, 171);
    margin-top:40px;
}
.add {
    color:#EA7475;
    font-size: 20px;
}
.nickname, .postal_num, .password, .new_password, .new_password_confirm, .address, .address_detail, .instagram_id, .children_name, .children_birth {
    border-radius:5px;
    width:200px;
    height:25px;
}
/* mypage 회원수정 끝 ==============================================================================*/

           /* footer 시작 */          
           #footer {background: #211f1f; margin-top:50px;}
           .footer_sns {position: absolute; right: 17px; top: 33px; z-index: 1;}
           .footer_sns li {display: inline-block; width: 36px; height: 36px; margin-left: 4px;}
           .footer_sns li.s1 {background-position: 0 -375px;}
           .footer_sns li.s2 {background-position: -36px -375px;}
           .footer_sns li.s3 {background-position: -72px -375px;}
           .footer_sns li.s4 {background-position: -108px -375px;}
           .footer_sns li.s5 {background-position: -144px -375px;}
           .footer_sns li.s1:hover {background-position: 0 -411px;}
           .footer_sns li.s2:hover {background-position: -36px -411px;}
           .footer_sns li.s3:hover {background-position: -72px -411px;}
           .footer_sns li.s4:hover {background-position: -108px -411px;}
           .footer_sns li.s5:hover {background-position: -144px -411px;}
           .footer_sns .tel {text-align: right; padding-top: 5px;}
           .footer_sns .tel a {color: #8f8f8f; font-size: 21px;}
           .footer_sns .tel a em {color: #fff;}
           
           .footer_infor {padding: 50px 0; width: 80%;}
           .footer_infor h2 img {width: 150px;}
           .footer_infor ul {padding: 15px 0;}
           .footer_infor li {position: relative; display: inline; padding-right: 16px; white-space: nowrap;}
           .footer_infor li:after {content: ''; position: absolute; right: 5px; top: 5px; width: 1px; height: 11px; background: #8f8f8f;}
           .footer_infor li:last-child:after {width: 0; height: 0;}
           .footer_infor li a {color: #8f8f8f;}
           .footer_infor address p {color: #8f8f8f; padding-bottom: 15px;}
           
           .container {position: relative; width: 100%; margin: 0 auto; /* background:rgba(0,0,0,0.1); */ }
           
           @media (max-width:600px){
               .container {width: 100%;}
               .footer_sns {position: static; text-align: center; background: #352c2c; padding-bottom: 15px;}
               .footer_sns .tel {display: none;}
               .footer_infor {width: 100%; text-align: center;}
               .footer_infor {padding: 30px 0;}
               .footer_infor address p br {display: none;}
           }
           .icon {background-image: url(../img/icon.png);}


           @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
                  only screen and (min-device-pixel-ratio: 1.5),
                  only screen and (min-resolution: 1.5dppx){
                       .icon {background-image: url(../img/icon@2.png); background-size: 500px;}
                  }
                  .ir_pm {display:block; overflow:hidden; font-size:0; line-height:0; text-indent:-9999px;}
                  .ir_wa {display:block; overflow:hidden; position:relative; z-index:-1; width:100%; height: 100%;} 
                  .ir_so {overflow: hidden; position:absolute; width:0; height:0; line-height:0; text-indent:-9999px; }
                   
                
                   
                   .tel em{font-style: normal;}
                   /* footer 끝 */
                

