@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);

body {
	margin: 0;
}

.btn {
	margin: 10px;
}
.snip1273 {
  font-family: 'Raleway', Arial, sans-serif;
  display: inline-block;
  position: relative;
  margin: 30px;
  /* min-width: 310px -60px; */
  /* max-width: 310px; */
  width: 45%;
  height: auto;
  color: #ffffff;
  background-color: #000000;
  font-size: 16px;
}
.snip1273 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  
}
.snip1273 img {
  position: relative;
  width: 100%;
  height: auto;
  vertical-align: top;
}
.snip1273 figcaption {
  /* display: inline-block; */
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  opacity: 0;
  padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
}
.snip1273 figcaption:before,
.snip1273 figcaption:after {
  width: 1px;
  height: 0;
}
.snip1273 figcaption:before {
  right: 0;
  top: 0;
}
.snip1273 figcaption:after {
  left: 0;
  bottom: 0;
}
.snip1273 h3,
.snip1273 p {
  line-height: 1.5em;
}
.snip1273 h3 {
  margin: 5px 0 5px;
  font-weight: 700;
  text-transform: uppercase;
  
}
.snip1273 p {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 22px;
  text-align: left;
}
.snip1273 a {
  position: relative;
  text-align: right;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  color: #ffffff;
}
.snip1273:before,
.snip1273:after,
.snip1273 figcaption:before,
.snip1273 figcaption:after {
  position: relative;
  content: '';
  background-color: #ffffff;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0.8;
}
.snip1273:before,
.snip1273:after {
  height: 1px;
  width: 0%;
}
.snip1273:before {
  top: 0;
  left: 0;
}
.snip1273:after {
  bottom: 0;
  right: 0;
}
.snip1273:hover img,
.snip1273.hover img {
  opacity: 0.4;
}
.snip1273:hover figcaption,
.snip1273.hover figcaption {
  opacity: 1;
}
.snip1273:hover figcaption:before,
.snip1273.hover figcaption:before,
.snip1273:hover figcaption:after,
.snip1273.hover figcaption:after {
  height: auto;
}
.snip1273:hover:before,
.snip1273.hover:before,
.snip1273:hover:after,
.snip1273.hover:after {
  width: 45%;
}
.snip1273:hover:before,
.snip1273.hover:before,
.snip1273:hover:after,
.snip1273.hover:after,
.snip1273:hover figcaption:before,
.snip1273.hover figcaption:before,
.snip1273:hover figcaption:after,
.snip1273.hover figcaption:after {
  opacity: 0.1;
}