@charset "utf-8";#wrap {
    width:100%; 
    height:100%;
}
#header {
display: flex;
width: 100%;
margin: auto;
height: 50px;
border-bottom: 0.09px solid black;
position: fixed;
z-index: 99;
}
#commuBanner {
        width: 100%;
        margin-left: 210px;
        display: flex;
            }

#contents { 
    width:1500px; 
    
    background-color:#fff;
    float: left;
    
    margin: 5%;
    padding: 90px;
    max-width: 1200px;/*네모넓이*/
    height: 800px;
    left: 4.5%;
    border: 1px solid black;
    position: absolute;
    z-index: 0;
    margin-left: 80px;
}


 #contents >.contents1{
 font-size: 2ex;
 }
 .contents1 table {
     width: 100%; 
     text-align: center;
    margin-top: 60px;
    border-bottom: 1px  solid #f00 ;
    
    }
 
 

a:link { text-decoration: none;}

#question_1 {
    
    height: 50px;
    font-size: 20px;
    border-bottom: 1px solid black;
    display: flex;
    color: #000;

}
#question_2 {
    height: 50px;
    font-size: 20px;
    border-bottom: 1px solid black;
    display: flex;
    color: #000;

}
#question_3 {
    height: 50px;
    font-size: 20px;
    border-bottom: 1px solid black;
    display: flex;
    color: #000;

}
#question_4 {
    height: 50px;
    font-size: 20px;
    border-bottom: 1px solid black;
    display: flex;
    color: #000;

}
#question_5 {
    height: 50px;
    font-size: 20px;
    border-bottom: 1px solid black;
    display: flex;
    color: #000;

}
thead {width: 100%;}
thead div *{width: 100%;}
#footer {
    display: flexbox;
    width:113.6%; 
    height:100PX; 
    background-color:#555;
    position: -webkit-sticky;
    margin-left: -15px;
    margin-top: 400px;
}

#list_nav_wrap ul li{
    font-size: 19px;
    }

/*mediaquery*/
/*화면 너비 0~1220px*/
@media (max-width: 1220px){
    .container {width:100%;}
    .row{padding: 0 15px;}
}



/*화면 너비 0~768px*/
@media (max-width: 440px){
    #header {
        display: flex;
        width: 98%;
        margin: auto;
        height: 50px;
        border-bottom: 0.09px solid black;
        position: fixed;
        z-index: 99;
        }
        .contents{
            font-size: 0.3rem;
            }
         
        #commuBanner {
                display: none;
            }
            #contents { 
                width:600px; 
                max-width: 260px;/*네모넓이*/
                font-size: 0.4rem;
               padding : 5px;
              margin-left: 10px;
              height: 350px;
           }
   
            #contents >.contents1 >.contents2 {
            
                
                width: 250px; /*여기가 빨간줄 길이*/
                height: 10px; /*내용 전체 높이*/
            
            }
            #contents >.contents1{
                font-size: 0.2rem;
                
                
            } 
            .contents1 table thead tr th{
                display: flex; 
                text-align: center;
                width: 100%; 
                
                
               margin-top: 0px;
               border-bottom: 0px  solid #f00 ;
               margin-bottom: -45px;
               }
                
            
            .contents1 table thead tr th h2{
                
            border-bottom: 1px  solid #f00 ;
                width: 100%; 
                font-size: 9px;
               
            }

            #question_1 {
                
                font-size: 8px;
                height: 20px;

            }
            #question_2 {
                
                font-size: 8px;
                height: 20px;

            }
            #question_3 {
                font-size: 8px;
                height: 20px;

            }
            #question_4 {
                
                font-size: 8px;
                height: 20px;
            }
            #question_5 {
                
                font-size: 8px;
                height: 20px;
            }
            #list_nav_wrap ul li{
                font-size: 6px;
            }
            #footer {
               
                margin-top: 110px;
            }
            }
        
