*{
    
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    color: #000;
}

#wrap{
    width: 850px;
}


/*메인 사이즈*/
.main {
    width: 100%;
    margin-left: 40px;
   
}

.main > li > img {
    width:80px;
    height:50px;
}

/*밑줄*/
.header{
position: fixed;
display: flex;
width: 100%;
margin: auto;
height: 50px;
box-shadow: 0px 3px 5px rgb(216, 216, 216);

}
.nav{
    display: flex;
    justify-content: flex-end;
    width: calc(1100px - 260px);
    
}
.nav li {
    margin-left: 20px;  
} 

.nav input[id ="menuicon"] {
    display: none;
}

.nav input[id ="menuicon"] + label {
    display: block; 
    width: 15px;
    height: 15px;
    position:relative;
    cursor: pointer;
    top: 17px;
    margin-right: 50px;
}

.nav input[id = "menuicon"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 30px;
    background: #000;
}
.nav input[id="menuicon"] + label span:nth-child(1) {
    top: 0;
}
.nav input[id="menuicon"] + label span:nth-child(2){
    top: 50%;
    transform:translateY(-50%);
}
.nav input[id="menuicon"] + label span:nth-child(3){
    bottom: 0;
}

.nav input[id ="menuicon"]:checked + label span:nth-child(1){
    top:50%;
    transform:translateY(-50%) rotate(45deg);
}
.nav input[id ="menuicon"]:checked + label span:nth-child(2){
    opacity: 0;
}
.nav input[id ="menuicon"]:checked + label span:nth-child(3){
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

div[class="sidebar"] {
    width:100%;
    height:60px;
    text-align: center;
    border: 0;
    background: rgba(255,235,205,0.5);
    position: relative;
    display: none;
}

input[id ="menuicon"]:checked +label +div {
    top: 60px;
    height: 180px;
    display: flex;
    position:fixed;
    left: 0;
    -webkit-transition: all 0.9s;
    -webkit-transition-delay: 0.9s;
    transition: all 1s;
    transition-delay: 1s;
    padding: 20px 20px 0px 0px;
    transition-property: initial; 
}

.nav ul{display: none;}

#sidemenu {
    display: flex;
   
}

.menu_w {
    position: fixed;
    width: 80%;
    height: 150px;
    -webkit-transition: all 0.9s;
    -webkit-transition-delay: 0.9s;
    transition: all 0.5s;
    transition-delay: 0.5s;
}

.menu_m
 {
    display: none;
    text-align: center;
    margin-left: 28%;
    padding: 10px;
    height: 450px;
    border-radius:12px;
}

div[class="sidebar"] button {
    background: #ff7276;
    border-radius:10px;
    color: #fff;
    border: 0;
    width: 120px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 400;   
    text-align: center;
    z-index: 1;
    
}


/*mediaquery*/
/*화면 너비 0~1220px*/
@media (max-width: 1220px){
    .container {width:100%;}
    .row{padding: 0 15px;}
}


/*화면 너비 0~768px*/
@media (max-width: 480px){
   
    .header{
          width:100%;
    }
    .nav li {
    margin-left: 20px;  
    }       
    .nav li:first-child {
        width: 343px;
    }       
    .nav{
        display: flex;
        justify-content: flex-end;
        width: calc(900px - 60px);
        line-height: 45px;
    }

    .nav li a{
        font-size: 13px;
        
    }       
        
    div[class="sidebar"] {
        height:60px;
       
    }
    div[class="sidebar"] button {
        width: 100px;
        height: 40px;
        font-weight: 100; 
        font-size: 1rem;
        border: 0;
        margin-top:1px;
       
    }
    .menu_m {
        display: flex;
        font-size: 1.5rem;
        margin-top: -20px;
        padding: 31px;
    }
    .menu_w {
       
        display: none;
        
    }
    div[class="sidebar"] {
        background-color: #fff;
        width: 400px;
        position: fixed; 
        background:  rgba(255,235,205,0.5);
        margin-left: -19%;
        margin-top: -3%;
        height: 10px;
        
        
}
input[id ="menuicon"]:checked +label +div {
    top:60px;
    height: 650px;
    left: 60px;
    display: flex;
    overflow-y: scroll; 


    
}

}